{{define "accueil"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link> rel="stylesheet" href="style.css"<link>
    <title>Accueil</title>
</head>
<body>
    <header>
        <div></div>
    </header>
    <div>
    <a href="/cards?set=swsh1">Swsh1</a>
    <a href="/cards?set=swsh2">Swsh2</a>
    <a href="/cards?set=swsh3">Swsh3</a>
    <a href="/cards?set=swsh4">Swsh4</a>
    <a href="/cards?set=swsh1"><img src="/static/images/swsh1.png" alt=""></a>
    </div>
</body>
</html>
{{end}}