{{define "accueil"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/carousel.css">    <title>Accueil</title>
</head>
<body>
    <header>
        <div></div>
    </header>
    <div class="carousel-container">
        <div class="carousel" id="boosterCarousel">
            <!-- Les boosters seront ajoutés ici par JavaScript -->
        </div>
        <div class="controls">
            <button id="prevBtn">◀ Précédent</button>
            <button id="nextBtn">Suivant ▶</button>
        </div>
        <button class="open-button" id="openBooster">Ouvrir le Booster</button>
    </div>

    <script src="/static/js/carousel.js"></script> 
</body>
</html>
{{end}}