{{define "cards"}}
<!DOCTYPE html>
<html lang="fr"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
</head>
<body>
    <a href="/cards?set=swsh1">Swsh1</a>
    <a href="/cards?set=swsh2">Swsh2</a>
    <a href="/cards?set=swsh3">Swsh3</a>
    <a href="/cards?set=swsh4">Swsh4</a>

    <h1>Set swsh1 :</h1>
    {{range .Swsh1}}
        <div>
            <h2>{{.Name}} || {{.ID}}</h2>
            <img src="{{.Image}}/high.webp" alt="image du pokemon {{.Name}}">
        </div>
    {{end}}
</body>
</html>
{{end}}