{{define "sets_pokemon"}}
<!DOCTYPE html>
<html lang="fr"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sets_pokemon</title>
</head>
<body>
    <a href="/cards?set=swsh1">Swsh1</a>
    <a href="/cards?set=swsh2">Swsh2</a>
    <a href="/cards?set=swsh3">Swsh3</a>
    {{range .Data}}
        <p>{{.CardCount.Total}}</p>
        <p>{{.ID}}</p>
        <p>{{.Logo}}</p>
        <p>{{.Name}}</p>
        <p>{{.ReleaseDate}}</p>
        <br>
    {{end}}
</body>
<html>
{{end}}